## An Analysis of Anscombe's quartet dataset

## 1. An explanation to the background of the dataset

Francis John "Frank" Anscombe (13 May 1918 – 17 October 2001) was an English statistician.

Born in Hove in England, Anscombe was educated at Trinity College at Cambridge University. After serving in the Second World War, he joined Rothamsted Experimental Station for two years before returning to Cambridge as a lecturer. 

He later became interested in statistical computing, and stressed that "a computer should make both calculations and graphs", and illustrated the importance of graphing data with four data sets now known as Anscombe's quartet

Anscombe's quartet comprises four datasets that have nearly identical simple descriptive statistics, yet appear very different when graphed. Each dataset consists of eleven (x,y) points. They were constructed in 1973 by the statistician Francis Anscombe to demonstrate both the importance of graphing data before analyzing it and the effect of outliers on statistical properties. He described the article as being intended to counter the impression among statisticians that "numerical calculations are exact, but graphs are rough."
*https://en.wikipedia.org/wiki/Anscombe%27s_quartet

Perhaps the most elegant demonstration of the dangers of summary statistics is Anscombe’s Quartet. It’s a group of four datasets that appear to be similar when using typical summary statistics, yet tell four different stories when graphed.

### Speculation on how Anscombe created the dataset

While very popular and eﬀective for illustrating the importance of visualizations, it is not known how Anscombe came up with his datasetUnfortunately, Anscombe does not report how the datasets were created, nor suggest any method to create new ones. 
###  Chatterjee and Firat 2007

They proposed a genetic algorithm based approach where 1,000 random datasets were created with identical summary statistics, then combined and mutated with an objective function to maximize the “graphical dissimilarity” between the initial and ﬁnal scatter plots. While the datasets produced were graphically dissimilar to the input datasets, they did not have any discernable structure in their composition.

#### Chatterjee, S. and Firat, A. (2007). Generating Data with Identical Statistics but Dissimilar Graphics. The American Statistician 61, 3, 248–254. 6
### Govindaraju and Haslet

Govindaraju and Haslett developed a method for regressing datasets towards their sample means while maintaining the same linear regression formula [7]. In 2009, the same authors extended their procedure to creating “cloned” datasets [8]. In addition to maintaining the same linear regression as the seed dataset, their cloned datasets also maintained the same means (but not the same standard deviations)
Govindaraju, K. and Haslett, S.J. (2008). Illustration of regression towards the means. International Journal of Mathematical Education in Science and Technology 39, 4, 544–550. 

While Chatterjee and Firat wanted to create datasets as graphically dissimilar as possible, Govindaraju and Haslett’s cloned datasets were designed to be visually similar, with a proposed application of conﬁdentializing sensitive data for publication purposes

Datasets which are identical over a number of statistical properties, yet produce dissimilar graphs, are frequently used to illustrate the importance of graphical representations when exploring data

The eﬀectiveness of Anscombe’s Quartet is not due to simply having four diﬀerent data sets which generate same statistical properties, it is that four clearly different and identifiably distinct datasets are producing the same statistical properties. 

Sometimes when analysing data you may find that looking at the calculations may not produce accurate results unless you understand the underlying data. It is important to visualise data to see what you’re dealing with. This can be achieved using graphs, in this case scatter plots, specifically.

Scatter plots are useful to perceive the broad features of data and look behind those features to see what is there. A good statistical analysis includes looking at the data from different points of view. To see why you need to visualise data we are going to look at Anscombe’s Quartet.

## 2. Plot the interesting aspects of the dataset

In [5]:
import pandas as pd # Data manipulation
from scipy import stats # linear regression
import numpy as np #Quick summary statistics

First of all, let us get the data set, that’s immediate to do as it comes ready loadable within the seaborn library:

In [8]:
import seaborn as sns
quartet = sns.load_dataset("anscombe")
quartet

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

First, we can get a glimpse of how many examples (rows) and how many attributes (columns) the Anscombe dataset contains with the shape method

In [15]:
quartet.shape

(44, 3)

We can see from the output above that the Anscombe dataset is comprised of 11 rows and 9 columns. Next we can take a look at a summary of each Anscombe attribute. This includes the count, mean, min and max values as well as some percentiles:

In [24]:
np.round(quartet.describe()) # Rounds descriptive output data to 2 decimals

          x     y
count  44.0  44.0
mean    9.0   8.0
std     3.0   2.0
min     4.0   3.0
25%     7.0   6.0
50%     8.0   8.0
75%    11.0   9.0
max    19.0  13.0

In [20]:
np.round(quartet.corr(), decimals=3)

       x      y
x  1.000  0.816
y  0.816  1.000

In [2]:
# Import pandas.
import pandas as pd
df = pd.read_csv("Anscombe2.csv")
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,Anscombe's Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Observation,x1,y1,NaN,x2,y2,NaN,x3,y3,NaN,x4,y4
2,NaN,1,10,8.04,NaN,10,9.14,NaN,10,7.46,NaN,8,6.58
3,NaN,2,8,6.95,NaN,8,8.14,NaN,8,6.77,NaN,8,5.76
4,NaN,3,13,7.58,NaN,13,8.74,NaN,13,12.74,NaN,8,7.71
5,NaN,4,9,8.81,NaN,9,8.77,NaN,9,7.11,NaN,8,8.84
6,NaN,5,11,8.33,NaN,11,9.26,NaN,11,7.81,NaN,8,8.47
7,NaN,6,14,9.96,NaN,14,8.1,NaN,14,8.84,NaN,8,7.04
8,NaN,7,6,7.24,NaN,6,6.13,NaN,6,6.08,NaN,8,5.25
9,NaN,8,4,4.26,NaN,4,3.1,NaN,4,5.39,NaN,19,12.5
10,NaN,9,12,10.84,NaN,12,9.13,NaN,12,8.15,NaN,8,5.56
11,NaN,10,7,4.82,NaN,7,7.26,NaN,7,6.42,NaN,8,7.91
12,NaN,11,5,5.68,NaN,5,4.74,NaN,5,5.73,NaN,8,6.89
13,NaN,NaN,NaN,NaN,NaN,NaN,Summary Statistics,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,N,11,11,NaN,11,11,NaN,11,11,NaN,11,11
15,NaN,mean,9.00,7.50,NaN,9.00,7.500909091,NaN,9.00,7.50,NaN,9.00,7.50
16,NaN,SD,3.16,1.94,NaN,3.16,1.94,NaN,3.16,1.94,NaN,3.16,1.94
17,NaN,r,0.82,NaN,NaN,0.82,NaN,NaN,0.82,NaN,NaN,0.82,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,Use the charts below to get the regression lin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,Regression Results,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,LINEST OUTPUT,NaN,x1-y1,NaN,NaN,x2-y2,NaN,NaN,x3-y3,NaN,NaN,x4-y4,NaN
48,slope,intercept,0.50,3,NaN,0.50,3,NaN,0.50,3,NaN,0.50,3
49,SE,SE,0.12,1.12,NaN,0.12,1.13,NaN,0.12,1.12,NaN,0.12,1.12
50,R2,RMSE,0.67,1.24,NaN,0.67,1.24,NaN,0.67,1.24,NaN,0.67,1.24
51,F,df,17.99,9,NaN,17.97,9,NaN,17.97,9,NaN,18.00,9
52,Reg SS,SSR,27.51,13.76,NaN,27.50,13.78,NaN,27.47,13.76,NaN,27.49,13.74